@model POE_MVC.Models.DB_Favourite

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DB_Favourite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CityID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DB_User.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DB_User.Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FavouriteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
